.user-settings {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: #616b78;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    .user-settings__field {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;

      div{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;
        
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        
        input {
          padding: 8px;
          box-sizing: border-box;
          border: 1px solid #616b78;
          border-radius: 4px;
          background-color: #2a2e34;
          color: #616b78;
          flex: 2;
        
        }
      }
    }

    button {
      padding: 10px 15px;
      background: royalblue;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;

      &:disabled {
        background: grey;
        cursor: not-allowed;
      }
    }
  }

  .error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
  }
}