.inventory-level {
  padding: 10px;
  border: 1px solid #616b78;
  border-radius: 10px;
  margin: 0 0 0 20px;
  height: 880px;

  @media screen and (max-width: 768px) {
    margin: 0 20px;
}

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    button {
      padding: 6px 10px;
      font-size: 14px;
      border-radius: 4px;
    }
  }

  input {
    width: calc(100% - 22px);
    background-color: #2a2e34;;
    border: 1px solid #616b78;
    color: #616b78;

    &:focus-visible {
      outline: royalblue solid 1px;
  }
  }

  button {
    background: royalblue;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;

    &:disabled {
      background: grey;
      cursor: not-allowed;
    }

    &:hover {
      background-color: rgb(41, 77, 186);
    }
  }

  .error {
    color: red;
    font-size: 0.875rem;
  }

  table, td {
    color: #616b78;
    border: 1px solid #616b78;
    font-size: 14px;
  }

  table {
    width: 100%;
  }

  th {
    background-color: #616b78;
    color: white;
    padding: 6px 10px;
  }

  td {
    padding: 4px 10px;
    max-width: 50px;
    overflow: hidden;
  }
}