.search-bar {
  position: relative;
  margin-top: 20px;

  &__input {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #616b78;
    border-radius: 30px;
    color: #616b78;
    background-color: #30353c;
  }

  &__icon {
    cursor: pointer;
    color: #616b78;
    transition: all 0.1s linear;

    &:hover {
      color: royalblue;
      transform: translateY(-2px);
    }
  }

  .search-results {
    position: absolute;
    top: 100%;
    left: 12%;
    width: 76%;
    border: 1px solid #616b78;
    border-radius: 0 0 8px 8px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    background-color: #30353c;

    .search-result {
      padding: 10px;
      text-decoration: none;
      color: white;
      font-size: 12px;

      p {
        margin: 0;
        padding: 0 4px 16px;
        border-bottom: 1px solid #616b78;

        &:hover  {
          color: royalblue;
        }
      }
    }
  }
}