.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    box-shadow: 0 1px 3px -2px royalblue;

    a {
        text-decoration: none;
        color: inherit;
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 4px;
        
        &__title {
            color: royalblue;
            font-size: 18px;

            &:hover {
                color: rgb(41, 77, 186);
            }
        }
    }

    &-menu {
        display: flex;
        list-style-type: none;
        gap: 60px;
        color: gray;
        padding: 0;
        margin: 16px 0 0;

        li {
            transition: all 0.1s linear;

            &:hover {
                transition: all 0.1s linear;
                transform: translateY(-2px);
                color: rgb(150, 177, 255);
                cursor: pointer;
            }

        }
        
    }

    &-dashline {
        background: white;
        border: none;
        height: 2px;
        
        &--active{
            height: 2px;
            border-radius: 10px;
            width: 80%;
            border: none;
            background: rgb(150, 177, 255);
        }
    }
}