.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  z-index: 1000;
  overflow: hidden;
  background-color: #30353c;

  &.closed {
    width: 60px;
  }

  &-header {
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    box-shadow: 0 1px 3px -2px #616b78;

    .hamburger {
      cursor: pointer;
      color: royalblue;

      &:hover{
        color: rgb(41, 77, 186);
      }
    }
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;

    &__title {
      color: royalblue;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;

      &:hover {
        color: rgb(41, 77, 186);
      }
    }
  }

  .user-email {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #616b78;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 20px 0;
    overflow: hidden;
    transition: all 0.1s linear;

    &:hover {
      transform: translateY(-2px);
      color: royalblue;
      opacity: 0.8;
    }
  }

  &-menu {
    list-style-type: none;
    padding: 20px 0 0;
    margin: 0;
    color: #616b78;

    li {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all 0.1s linear;

      &:first-child {
        padding-top: 0;
      }

      &:hover,
      &.active {
        transform: translateY(-2px);
        color: royalblue;
        cursor: pointer;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
      }

      .menu-icon {
        font-size: 20px;
        margin-right: 10px;
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: opacity 0.3s ease;
      }
    }
  }

  &-logout{
    background-color: royalblue;
    outline: none;
    border: none;
    width: 90%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;

    &__text {
      margin: 0 10px;
    }

    &:hover {
      background-color: rgb(41, 77, 186);
    }
  }

  .google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db4437;
    width: 90%;
    color: white;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #c33c28;
    }

    &__text {
      margin: 0 10px;
    }
  }
}

.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 60px;
    
    @media screen and (min-width: 992px) {
    &.shifted {
      margin-left: 250px;
    }
  }
}