.post {
    list-style-type: none;
    opacity: 0.9;
    background: lightsteelblue;
    margin: 20px;
    border-radius: 10px;

    a {
        cursor: pointer;

        &:hover {
            opacity: 1;
            transition: all 0.1s ease-out;
        }
    }

    p {
        margin: 12px 0 0;
    }
}